<%- include ('./header.ejs') %>
    
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Create Banner </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Forms</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Form elements</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Banner Details</h4>
                    <p class="card-description"> Please enter the details </p>
                    <form enctype="multipart/form-data" class="forms-sample" method="post" action="/admin/editbanner?_method=PUT">
                      <input type="hidden" name="id" value="<%=banner._id %>">
                      <div class="form-group">
                        <label for="exampleInputName1">Banner Name</label>
                        <input type="text" name="name" class="form-control" id="exampleInputName1" placeholder="Name" value="<%= banner.name %>" required>
                      </div>
                      <div class="form-group">
                        <label for="exampleTextarea1">Description</label>
                        <textarea name="description" class="form-control" id="exampleTextarea1" rows="4" required><%=banner.description%></textarea>
                      </div>
                      <div class="form-group">
                        <input class="form-control" id="imageInput" type="file" name="image" multiple required>
                        <div style="display: flex; flex-direction: row;">
                          <% for(let key of banner.image){ %>
                            <div id='<%=key.img %>' style="padding-right: 4px;">  
                            <div class="d-flex align-items-center justify-content-center position-relative " style="border: 1px solid rgb(236, 236, 236);border-radius: 8px;height: 85px;width: 78px;">                  
                              <button style="color: black;" type="button" onclick="cut('<%=key.img%>')" class="close position-absolute z-3 top-0 end-0 bg-transparent shadow-none " aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>           
                              <img src="<%=key.img %>" class="img-thumbnail rounded" width="60px" height="60px" style="border: 4px;" alt="error">
                            </div></div>
                            <%}%>  
                        </div>  
                      </div>
                      <input type="hidden" value="<%=banner._id%>" id="bId"/>
                      <div id="imagePreviewContainer"></div>
                      <div class="form-group">
                        <label for="exampleInputCity1">Link</label>
                        <input type="text" name="link" class="form-control" id="exampleInputCity1" value="<%= banner.link %>" placeholder="link" required>
                      </div>
                      <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                      <a href="/admin/banner" class="btn btn-light">Cancel</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com
                2021</span>
              <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a
                  href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin
                  template</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../assets/js/off-canvas.js"></script>
    <script src="../../assets/js/hoverable-collapse.js"></script>
    <script src="../../assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../../assets/js/file-upload.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- End custom js for this page -->

    <script>
      const imageInput = document.querySelector('#imageInput');
      const imagePreviewContainer = document.querySelector('#imagePreviewContainer');

      imageInput.addEventListener('change', function () {
        imagePreviewContainer.innerHTML = '';
        const files = this.files;
        for (let i = 0; i < files.length; i++) {
          const file = files[i];
          const reader = new FileReader();
          reader.addEventListener('load', function () {
            const imagePreview = document.createElement('img');
            imagePreview.src = this.result;
            imagePreviewContainer.appendChild(imagePreview);
          });
          reader.readAsDataURL(file);
        }
      });

      function cut(id) {
        bId = document.getElementById('bId').value 
        document.getElementById(id).innerHTML='' 
        console.log('id = '+id); 
        console.log(bId);
        const data = {img:id , bId:bId}
        console.log(id,bId);
        axios.post('/admin/updateBImage', data)
        .then(res => {
          if(res.data){
            console.log(res.data);
    
          }
        })
        .catch(error => {
          console.log(error);
        })
      console.log('This was logged in the callback: ' + result);}
    </script>
</body>

</html>