<%- include ('./header.ejs') %>

  <!-- End Header Area -->

  <!-- Start Banner Area -->
  <section class="banner-area organic-breadcrumb">
    <div class="container">
      <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
          <h1>Checkout</h1>
          <nav class="d-flex align-items-center">
            <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
            <a href="single-product.html">Checkout</a>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Banner Area -->

  <div class="container" style="padding: 3rem;">
    <div class="row">
      <div class="col-sm-3 align-items-stretch">
        <div class="card cart-detail">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button style="border: none;" class="nav-link active" id="v-pills-home-tab" data-toggle="pill" data-target="#v-pills-home"
              type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Profile</button>
            <button style="border: none;" class="nav-link" id="v-pills-profile-tab" data-toggle="pill" data-target="#v-pills-profile"
              type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">My Orders</button>
            <button style="border: none;" class="nav-link" id="v-pills-messages-tab" data-toggle="pill" data-target="#v-pills-messages"
              type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Addresses</button>
            <!-- <button class="nav-link" id="v-pills-settings-tab" data-toggle="pill" data-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false"></button> -->
          </div>
        </div>
      </div>

      <div class="col-sm-9 ">
        <div class="tab-content align-items-stretch" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="d-flex justify-content-between">
              <div class="card" style="width: 16rem;background-color: rgb(213, 214, 216);border-radius:5px;">
                <div class="card-body ">
                  <h4 class="card-title "><i class="fa-solid fa-wallet"></i> Wallet Balance</h4>
                  <p class="card-text ">Rs <%-userD.wallet%></p>
                </div>
              </div>
              <div class="card" style="width: 16rem;background-color: #fd7e14;border-radius:5px;">
                <div class="card-body ">
                  <h4 class="card-title text-light"><i class="fa-solid fa-heart"></i> Wishlist items</h4>
                  <p class="card-text text-light"><%-userD.wishlist.item.length%></p>
                </div>
              </div>
              <div class="card" style="width: 16rem;background-color: rgb(213, 214, 216);border-radius:5px;">
                <div class="card-body ">
                  <h4 class="card-title"><i class="fa-solid fa-cart-shopping"></i> Cart Items</h4>
                  <p class="card-text"><%-userD.cart.item.length%></p>
                </div>
              </div>

            </div>

            <div class="card cart-detail mt-3" style="border-radius: 15px;background-color: rgb(213, 214, 216);">
              <form action="" style="margin-left: 60px" ; method="" id="form" onsubmit="return onSubmitFunction()">
                <div class="mb-2 row mt-2 pt-5">
                  <input type="hidden" name="id" value="">
                  <label for="staticEmail" class="col-sm-3 col-form-label">Name:</label>
                  <div class="col-sm-6">
                    <span style="font-weight: 600;font-size: larger;">
                      <%=userD.name %>
                    </span>
                  </div>
                </div>

                <div class="mb-3 row ">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Email:</label>
                  <div class="col-sm-6">
                    <span style="font-weight: 500;">
                      <%=userD.email %>
                    </span>
                  </div>
                </div>

                <div class="mb-3 row">
                  <label for="inputPassword" class="col-sm-3 col-form-label">Mobile:</label>
                  <div class="col-sm-6">
                    <div class="input-group mb-3">
                      <span style="font-weight: 500;">
                        <%=userD.contactNumber %>
                      </span>
                    </div>
                  </div>
                </div>
                <p class="text-danger"></p>
                <div style="margin-bottom: 2%; margin-left: 43%;">
                  <a href="/editUser" class="btn btn-sm mt-2" style="background-color: #fd7e14; color: white; padding: 5px 25px"> Edit</a>

                </div>
              </form>
            </div>
          </div>

          <div class="tab-pane fade bg-light" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"
            style="border-radius: 15px;">
            <section class="container ">
              <div class="table-responsive">
                <table class="table mb-5">
                  <thead class="bg-yellow-200">
                    <tr>

                      <th>Order Id</th>
                      <th>Date Purchased</th>
                      <th>Payment</th>
                      <th>Amount</th>
                      <th>Action</th>
                      <th>Orders</th>
                    </tr>
                  </thead>
                  <% for(let key of order){ %>
                    <tbody>
                      <td>
                        <%=key.products.item[0]?.productId?.id%>
                      </td>
                      <td>
                        <%=key.createdAt.toDateString()%>
                      </td>
                      <td>
                        <%=key.payment.method%>
                      </td>
                      <td>
                        <%=key.payment.amount%>
                      </td>
                      <td>
                        <% if(key.status=="Delivered" ){%>
                          <% const currentDate=new Date(); const cutoffDate=new Date();
                            cutoffDate.setDate(currentDate.getDate() - 14); const createdAtDate=new Date(key.createdAt);
                            if (createdAtDate <=cutoffDate) { %>
                            <button style="display: block;" type="button" class="btn btn-danger " disabled>return
                              item</button>

                            <% } else { %>
                              <a style="display: block;" href="/returnorder?id=<%=key._id%>"
                                class="genric-btn info radius">return</a>
                              <% } %>
                                <%} else if(key.status=="cancelled" ){%>
                                  <h6>cancelled</h6>
                                  <%}else if(key.status=="returned" ){%>
                                    <h6>returned</h6>
                                    <%}else{%>
                                      <a href="/cancelorder?id=<%=key._id%>"
                                        class="genric-btn danger radius"
                                        onclick="showSweetAlert(event)">
                                       Cancel
                                     </a>
                                      <%}%>
                      </td>
                      <td>
                        <a href="/vieworder?id=<%=key._id%>" class="genric-btn primary radius">details</a>
                      </td>
                    </tbody>
                    <% } %>

                </table>
              </div>
            </section>
          </div>
          <div class="tab-pane fade " id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <button type="button" style="margin-left: 2%;" class="btn btn-success " data-toggle="modal"
              data-target="#exampleModal">
              Add Address
            </button>
            <!-- modal -->
            <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Adress</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form method="post" action="/addAddress" class="colorlib-form">
                      <div class="row">

                        <label>Name *</label>
                        <input type="text" class="form-control" name="firstname" placeholder="First name" required>

                        <label>Last Name *</label>
                        <input type="text" class="form-control" name="lastname" placeholder="Last name" required>



                        <label>Country *</label>
                        <input type="text" class="form-control" name="country" placeholder="Country" required>

                        <label>address *</label>
                        <input type="text" class="form-control" placeholder="Address" name="address" required>


                        <div class="row">
                          <div class="col-sm-6">
                            <label>Town / City *</label>
                            <input type="text" class="form-control" name="city" placeholder="City" required>
                          </div>

                          <div class="col-sm-6">
                            <label>State / County *</label>
                            <input type="text" class="form-control" name="state" placeholder="State" required>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6">
                            <label>Postcode / ZIP *</label>
                            <input type="text" class="form-control" name="zip" placeholder="Postcode/ZIP" required>
                          </div>

                          <div class="col-sm-6">
                            <label>Phone *</label>
                            <input type="tel" class="form-control" name="mno" placeholder="Phone" required>
                          </div>
                        </div>

                        <br>
                        <!-- <button type="submit" class="btn btn-success rounded-2 shadow  ">
                             Save Address
                           </button> -->

                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="row">
              <%if(userAddress.length>0){
                for(let key of userAddress){%>
                <div class="col-md-12">
                  <div class="card cart-detail border-gray  mt-2 mb-3" style="padding: 30px;border-radius: 15px;">
                    <span class="h5">
                      <%=key.firstname%>
                        <%=key.lastname%>
                    </span>
                    <div class="pr-2">
                      <%=key.address%>,
                        <%=key.city%>,<br>
                          <%=key.state%>,
                            <%=key.country%>,
                               Pin:<%=key.zip%>.<br> Phone: <%=key.mobile%>
                                  <br><br>
                                  <a href="/editaddress?id=<%=key._id%>"><input type="button" value="Edit"
                                      class="btn btn-info btn-sm "></a>
                                  <a href="/delete?id=<%=key._id%>"><input type="button" value="Delete"
                                      class="btn btn-dark btn-sm "></a>
                    </div>
                  </div>


                </div>
                <%}%>
                  <%}%>

            </div>

          </div>

          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...
          </div>

        </div>

      </div>
    </div>

  </div>
  <!--================End Checkout Area =================-->

  <!-- start footer Area -->
  <footer class="footer-area section_gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-3  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>About Us</h6>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
              ut labore dolore
              magna aliqua.
            </p>
          </div>
        </div>
        <div class="col-lg-4  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Newsletter</h6>
            <p>Stay update with our latest</p>
            <div class="" id="mc_embed_signup">

              <form target="_blank" novalidate="true"
                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                method="get" class="form-inline">

                <div class="d-flex flex-row">

                  <input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter Email '" required="" type="email">


                  <button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right"
                      aria-hidden="true"></i></button>
                  <div style="position: absolute; left: -5000px;">
                    <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                  </div>

                  <!-- <div class="col-lg-4 col-md-4">
													<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
												</div>  -->
                </div>
                <div class="info"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3  col-md-6 col-sm-6">
          <div class="single-footer-widget mail-chimp">
            <h6 class="mb-20">Instragram Feed</h6>
            <ul class="instafeed d-flex flex-wrap">
              <li><img src="/FrontEnd/img/i1.jpg" alt=""></li>
              <li><img src="/FrontEnd/img/i2.jpg" alt=""></li>
              <li><img src="/FrontEnd/img/i3.jpg" alt=""></li>
              <li><img src="/FrontEnd/img/i4.jpg" alt=""></li>
              <li><img src="/FrontEnd/img/i5.jpg" alt=""></li>
              <li><img src="/FrontEnd/img/i6.jpg" alt=""></li>
              <li><img src="/FrontEnd/img/i7.jpg" alt=""></li>
              <li><img src="/FrontEnd/img/i8.jpg" alt=""></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h6>Follow Us</h6>
            <p>Let us be social</p>
            <div class="footer-social d-flex align-items-center">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-dribbble"></i></a>
              <a href="#"><i class="fa fa-behance"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
        <p class="footer-text m-0">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i
            class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </footer>
  <!-- End footer Area -->
<!-- Sweet Alert -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
function showSweetAlert(event) {
  event.preventDefault(); // Prevent the link from being followed
  Swal.fire({
    title: 'Are you sure?',
    text: 'Do you want to cancel this order?',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Yes, cancel it!',
    cancelButtonText: 'No, keep it'
  }).then((result) => {
    if (result.isConfirmed) {
      // Follow the link
      window.location.href = event.target.href;
    }
  });
}
</script>

  <script src="/FrontEnd/js/vendor/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
    integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="/FrontEnd/js/vendor/bootstrap.min.js"></script>
  <script src="/FrontEnd/js/jquery.ajaxchimp.min.js"></script>
  <script src="/FrontEnd/js/jquery.nice-select.min.js"></script>
  <script src="/FrontEnd/js/jquery.sticky.js"></script>
  <script src="/FrontEnd/js/nouislider.min.js"></script>
  <script src="/FrontEnd/js/jquery.magnific-popup.min.js"></script>
  <script src="/FrontEnd/js/owl.carousel.min.js"></script>
  <!--gmaps Js-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
  <script src="/FrontEnd/js/gmaps.min.js"></script>
  <script src="/FrontEnd/js/main.js"></script>
  </body>

  </html>